@import "./shared/fonts";
@import "./shared/index";
@import "./components/header";


.absolute {
  position: absolute;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", "Helvetica";
}

.self-typed {
  font-size: 30px;
  color: white !important;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: transparent;
  outline: none;
  border: none;
}

.base-page{
  color: aliceblue;
  padding-top: 150px;
}

.base-page a{
  color: aliceblue;
}
.clickable{
  cursor: pointer;
}